<!-- Single vehicle simulation: make px4_sitl gazebo-classic uses instance 0. -->
<launch>
  <arg name="uav_id" default="1"/>
  <arg name="px4_instance" default="0"/>
  <arg name="control_mode" default="ladrc_acceleration"/>
  <group ns="uav$(arg uav_id)">
    <node name="mavros" pkg="mavros" type="mavros_node" output="screen">
      <param name="fcu_url" value="$(eval 'udp://:%d@127.0.0.1:%d' % (14540 + int(arg('px4_instance')), 14580 + int(arg('px4_instance'))))"/>
      <param name="gcs_url" value=""/>
      <param name="target_system_id" value="$(eval int(arg('px4_instance')) + 1)"/>
      <param name="target_component_id" value="1"/>
    </node>
    <node name="configure_mavros_stream" pkg="ladrc_controller" type="configure_mavros_stream.py" output="screen"/>
    <node name="ladrc_position_controller" pkg="ladrc_controller" type="ladrc_position_controller_node" output="screen">
      <rosparam file="$(find ladrc_controller)/config/ladrc_params.yaml" command="load"/>
      <param name="control_mode" value="$(arg control_mode)"/>
      <rosparam param="neighbor_uav_ids">[]</rosparam>
      <param name="enu_offset_x" value="0.0"/>
      <param name="enu_offset_y" value="$(eval 3.0 * int(arg('px4_instance')))"/>
      <param name="enu_offset_z" value="0.0"/>
    </node>
  </group>
</launch>
